<configuration>
  <appender name="static-appender" class="com.github.avonengel.xomsaxhelp.StaticAppender" />

  <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
    <!-- encoders are assigned the type
         ch.qos.logback.classic.encoder.PatternLayoutEncoder by default -->
    <encoder>
      <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
    </encoder>
  </appender>

  <logger name="org.apache.xmlgraphics" level="WARN"/>
  <logger name="org.apache.fop.apps" level="WARN">
    <appender-ref ref="static-appender"/>
  </logger>

  <root level="info">
    <appender-ref ref="STDOUT" />
  </root>
</configuration>